html {
	font-family: sans-serif, Arial, Helvetica;
	height: 100vh;
}

body { 
	background: url("../img/background_image.png") bottom fixed;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

body::-webkit-scrollbar {
	width: 1em;
}
	
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
	
body::-webkit-scrollbar-thumb {
	background-color: rgba(30, 80, 200, 0.25);
	outline: 1px solid slategrey;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: whitesmoke;
	font-size: 20px;
	height: 5em;
	position: absolute;
	width: 100%;
}

main {
	margin: 0 auto;
	text-align: center;
}

option {
	color: #5c5c5c;
}

address {
	align-items: flex-end;
	color: #0722b0;;
	display: flex;
	font-size: 0.5em;
	font-style: normal;
	height: 9em;
	justify-content: space-evenly;
	margin: auto;
	width: 70%;
}

#container-logo {
	outline: none;
	z-index: 10;
}

#image-logo {
	cursor: pointer;
	padding: 0.5em 1em;
	transition: all 0.5s;
	width: 13em;
}

#container-menu {
	align-items: center;
	display: flex;
	z-index: 1;
}

#hamburguer-menu {
	display: none;
	position: absolute;
	right: 0;
	top: 5px;
}

.horizontal-menu a {
	align-self: center;
	color: #585858;
	font-size: 0.9em;
	letter-spacing: 1px;
	padding: 1em 0.5em;
	text-decoration: none;
	transition: all 0.5s;
	vertical-align: center;
}

.horizontal-menu a:hover {
	background: inherit;
	color: red;
	font-size: 0.9em;
	padding: 1em 0.5em;
}

#superior-container {
	display: flex;
	flex-direction: column;
	margin-top: 7em;
}

#search-home {
	background: transparent;
	border: 0px solid black;
	border-radius: 10px;
	color: white;
	display: flex;
	font-size: 1.2em;
	font-style: italic;
	height: 1.5em;
	outline: none;
	padding-left: 1.1em;
	padding-top: 0.2em;
	text-shadow: 1px 1px 3px #000000;
	width: 13em;
}

#search-home::placeholder {
	color: #565656;
	text-shadow: none;
}

#search-div {
	background: rgba(30, 80, 200, 0.25);
	border-radius: 15px;
	display: flex;
	height: 2.2em;
	margin: 2em 12em;
	padding-right: 0.5em;
}

#search-home-container {
	border-radius: 15px;
	display: flex;
	outline: none;
}

#search-button-home {
	background-image: url("../img/search_icon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-style: italic;
	height: 30px;
	margin: 3px auto;
	outline: none;
	position: absolute;
	right: 10.5em;
	width: 3em;  
}

#lists-div {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1.5em 5em;
	padding: 1.5em;
}

.lists-home {
	background-color: rgba(30, 80, 200, 0.25);
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 1.2em;
	font-style: italic;
	height: 1.4em;
	margin: 0.5em;
	outline: none;
	padding-left: 0.5em;
	text-shadow: 1px 1px 3px #000000;
	width: 11em;
}

#clear-filter-button-home {
	background-image: url("../img/clear_filter.png");
	background-size: 21px   ;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(30, 80, 200, 0.25);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	height: 1.8em;
	margin: 1em;
	outline: none;
	position: relative;
	width: 3em;
}

#inferior-container {  
	display: flex;
	justify-content: center;
	margin-bottom: 5em;
	margin-top: 1em;
	width: 100%;
}  

#mini-card-container {
	border-radius: 20px;
	float: left;
	justify-content: center;
	outline: none;
	text-align: center;
	width: 75%;
}

.mini-card-div {
	background-color: rgba(20, 23, 73, 0.43);
	border: 2px solid rgba(3, 72, 158, 0.55);
	border-radius: 5px;
	box-sizing: border-box;
	display: inline-block;
height: 170px;
	margin: 6px;
	padding: 0.5em;
	position: relative;
	transition: all 0.3s;
	width: 130px;
}

.mini-card-div-highlight {
	background-color: rgba(0, 87, 255, 0.54);
	border: 2px solid rgba(37, 107, 180, 0.55);
	border-radius: 5px;
	box-shadow: 1px 1px 40px cyan, 0 0 60px white, 0 0 40px darkblue;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
height: 170px;
	margin: 6px;
	padding: 0.5em;
	position: relative;
	width: 130px;
	transition: all 0.3s;
}

.mini-card-image {
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: contain;
border: 0px solid black;
	border-radius: 4px;
	height: 70%;
margin-left: auto;
margin-right: auto;
	width: 95%;
}

.mini-card-text {
background-color: transparent;
	border: 0px solid black;
	color: whitesmoke;
	font-family: inherit;
	font-stretch: 5px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 0.5em;
	outline: none;
	resize: none;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
	width: 100%;
}

.mini-card-number {
	background-color: rgba(35, 71, 141, 0.51);
	border-radius: 1em;
	color: whitesmoke;
	font-size: 1em;
	padding-top: 2px;
	position: absolute;
	right: 0.4em;
	top: 0.3em;
	width: 2.5em;
}

footer {
	background-color: whitesmoke;
	margin-top: auto;
}

#footer-container-copyright {
	align-items: center;
	background: #1a1d52;
	display: flex;
	height: 3em;
	justify-content: center;
}
	
#cp-text {
	color: #e2be29;
	font-size: 15px;
	margin: 0;
}

#card {
	background: #b10d0d;
	border: 3px solid black;
	border-radius: 10px;
	bottom: 0;
	box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
	display: none;
	height: 39em;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 720px;   
	z-index: 300;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#card-first-half {
	border-radius: 10px 0 0 10px;
	flex-direction: column;
	height: 100%;
	padding: 0 1em;
	width: 350px;
}

#pokedex-details {
	display: flex;
	margin: 1em;
}

#blue-ball {
	background: radial-gradient(ellipse at center, #99d7ff 0%, #4da0d6 50%, #5165ca 100%);
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.5);
	height: 45px;
	width: 45px;
}

#blue-ball-light {
	background: linear-gradient(to bottom, #d1e3f5 0%,#a0ccf7 100%);
	border-radius: 50%;
	height: 12px;
	margin: 3px 0 0 11px;
	width: 22px;
}

#small-balls {
	display: flex;
	margin-left: 1em;
}

#small-balls div {
	border-radius: 50%;
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.5);
	height: 11px;
	margin: 2px;
	width: 11px;
}

#red-ball {
	background: radial-gradient(ellipse at center, #f18c83 0%,#ff3019 52%,#650707 100%);
}

#yellow-ball {
	background: radial-gradient(ellipse at center, #ffffff 0%,#ffdc19 52%,#927d04 100%);
}

#green-ball {
	background: radial-gradient(ellipse at center, #c8ffc0 0%,#34ff19 52%,#138504 100%);
}

#pokedex-content {
	border: 3px inset #9c0e0e;
	height: 83.2%;
}

#pokemon-infos-card {
	display: flex;
	justify-content: space-evenly;
}

#pokemon-name {
	font-size: 21px;
	margin: 5px;
}

#pokemon-number {
	margin: 5px;
}

#card-pokemon-img {
	background: white;
	border: 2px outset #C7C7C7;
	border-radius: 5px 5px 5px 30px;
	display: inline-block;
	margin: 0 auto;
	padding: 25px 25px 40px;
}

#pokedex-middle-detail {
	background: linear-gradient(90deg, #770707 0, #c70707 40%, #ff6f6f 60%, #c70707 90%);
	border-left: 2px solid black;
	border-right: 2px solid black;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 25px;
}

.hinge {
	background: linear-gradient(90deg, #3d0808 0, #a00707 40%, #ff6f6f 60%, #a00707 90%);
	border-bottom: 2px ridge #981b1b;
	border-left-color: #5f1010;
	border-top: 2px ridge #981b1b;
	display: block;
	height: 40px;
}

#card-second-half {
	border: 3px inset #9c0e0e;
	display: none;
	flex-direction: column;
	height: 94%;
	margin: 1em;
	width: 350px;
}

#card-pokemon-evolutions {
	border-bottom: groove #d90d0d 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#card-pokemon-evolutions h1{
	width: 100%;
}

#type-candys-box {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#candy-p {
	align-items: center;
	display: flex;
	height: calc(100% - 24px);
	justify-content: center;
	margin: 0;
	padding: 0;
}

#candy-img {
	width: 50px;
}

.pokemon-infos {
	background: linear-gradient(137deg, #b8db6d 0%, #e2f2cb 5%,#b8db6d 9%, #e2f2cb 13%, #e2f2cb 16%,#b8db6d 20%);
	border-radius: 3px;
	border: 2px inset #b3bfa6;
	font-size: 21px;
	margin: 1.5em auto 1.7em;
	padding: 5px;
	width: 85%;
}

.pokemon-img {
	background: linear-gradient(137deg, #bfd3ad 6%, #e2f2cb 8%,#bfd3ad 12%, #e2f2cb 17%, #e2f2cb 20%,#bfd3ad 23%);
	border: 2px inset #BBC7A7;
	border-radius: 5px;
	box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.77);
	display: block;
}

.pokemon-type p {
	border-radius: 7px;
	color: white;
	display: inline-block;
	margin: 2.5em 0.5em;
	padding: 0.8em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	width: 6.5em;
}

.pokedex-btn {
	background: inherit;
	border: 0.2em groove #ac5252;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	height: 3em;
	transition: all 0.2s;
	width: 8em;
}

.pokedex-btn:hover {
	border: 0.2em groove #ade476;
	color: #fffbda;
	text-shadow: #010101 0px 2px 2px;
}

.close-btn:hover {
	border: 0.2em groove #ff0000;
}

.pokemon-evolutions {
	margin: 0 0 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokemon-evolutions-img {     
	height: 5em;
	margin: 0.5em auto;
	width: 5em;
}

.pokemon-evolution-name {
	box-sizing: border-box;
	font-size: 16px;
	margin: 0.2em;
	width: 6em;
}

.pokedex-titles-box {
	background: linear-gradient(137deg, #bfd3ad 6%, #e2f2cb 8%,#bfd3ad 12%, #e2f2cb 17%, #e2f2cb 20%,#bfd3ad 23%);
	border-radius: 5px;
	height: 50%;
	margin: 0.5em;
	padding-bottom: 0.5em;
}

.pokedex-titles {
	background: linear-gradient(116deg, #460f0f 0, #891313 20%, #b31818 45%, #fd5555 65%, #b31818 95%);
	border: groove #e61515 3px;
	color: #fffbda;
	font-size: 1.4em;
	margin: 0;
	text-shadow: #010101 1px 2px 4px;
}

.weaknesses-p-box {
	height: calc(100% - 32px);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.pokedex-titles-box p {
	margin: 0.4em;
	padding: 0.5em 0;
}

.pokedex-btn-box {
	border-top: groove #d90d0d 3px;
	display: flex;
	justify-content: space-around;
	padding: 1em 0.5em;
}

.pokedex-btn-box.btn-box-2-section {
	box-sizing: border-box;
	padding: 1em 0.5em;
	width: 312px;
}

.address {
	padding-bottom: 1.5em;
	text-align: center;
}

.address-contact {
	align-self: flex-start;
	font-size: 2em;
	text-align: center;
}

.address-p {
	margin: 0.5em 0;
}

.address-bar {
	color: #c71010;
	font-family: monospace;
	font-size: 2em;
	margin: 0;
}

.address-name {
	font-weight: 100;
}

.fa-github, .fa-envelope {
	color: #36528bba;
	font-size: 2.5em;
	padding: 0 0.5em;
	transition: all 0.3s;
}

.fa-github:hover, .fa-envelope:hover {
	color: #ffb701;
}


/*ELEMENTS CONFIGURATION*/

#bug {
	background: linear-gradient(157deg, #b4d466 6%, #cde29c 14%,#b4d466 34%, #b4d466 43%, #cde29c 71%, #b4d466 86%);
	border: 2px outset #bec0ba;
}

#dark {
	background: linear-gradient(157deg, #3c3c3c 6%, #4a4a4a 14%,#3c3c3c 34%, #3c3c3c 43%, #4a4a4a 71%, #3c3c3c 86%);
	border: 2px outset #807f76;
}

#dragon {
	background: linear-gradient(157deg, #6f4dd8 6%, #8172d2 14%,#6f4dd8 34%, #6f4dd8 43%, #8172d2 71%, #6f4dd8 86%);
	border: 2px outset #9992ca;
}

#electric {
	background: linear-gradient(157deg, #f3d81a 6%, #fff085 14%,#f3d81a 34%, #f3d81a 43%, #fff085 71%, #f3d81a 86%);
	border: 2px outset #fffcc3;
}

#fairy {
	background: linear-gradient(157deg, #da7ec6 6%, #e89cd8 14%,#da7ec6 34%, #da7ec6 43%, #e89cd8 71%, #da7ec6 86%);
	border: 2px outset #eaa6e3;
}

#fighting {
	background: linear-gradient(157deg, #b50b0b 6%, #cc1414 14%,#b50b0b 34%, #b50b0b 43%, #cc1414 71%, #b50b0b 86%);
	border: 2px outset #c56262;
}

#fire {
	background: linear-gradient(157deg, #e87818 6%, #ec8f3f 14%,#e87818 34%, #e87818 43%, #ec8f3f 71%, #e87818 86%);
	border: 2px outset #deb492;
}

#flying {
	background: linear-gradient(157deg, #899bd0 6%, #97a7d8 14%,#899bd0 34%, #899bd0 43%, #97a7d8 71%, #899bd0 86%);
	border: 2px outset #becfda;
}

#ghost {
	background: linear-gradient(157deg, #514479 6%, #675e82 14%,#514479 34%, #514479 43%, #675e82 71%, #514479 86%);
	border: 2px outset #8c88a2;
}

#grass {
	background: linear-gradient(157deg, #22c02a 6%, #6cde72 14%,#22c02a 34%, #22c02a 43%, #6cde72 71%, #22c02a 86%);
	border: 2px outset #b2bdb4;
}

#ground {
	background: linear-gradient(157deg, #ecca69 6%, #f5dc98 14%,#ecca69 34%, #ecca69 43%, #f5dc98 71%, #ecca69 86%);
	border: 2px outset #fffcc3;
}

#ice {
	background: linear-gradient(157deg, #96dbe2 6%, #aee2e6 14%,#96dbe2 34%, #96dbe2 43%, #aee2e6 71%, #96dbe2 86%);
	border: 2px outset #eaeaea;
}

#normal {
	background: linear-gradient(157deg, #c3bdb3 6%, #e0e0e0 14%,#c3bdb3 34%, #c3bdb3 43%, #e0e0e0 71%, #c3bdb3 86%);
	border: 2px outset #e4dbd2;
}

#poison {
	background: linear-gradient(157deg, #9c40a7 6%, #aa63b3 14%,#9c40a7 34%, #9c40a7 43%, #aa63b3 71%, #9c40a7 86%);
	border: 2px outset #bd59b3;
}

#psychic {
	background: linear-gradient(157deg, #cc3d6b 6%, #d4507b 14%,#cc3d6b 34%, #cc3d6b 43%, #d4507b 71%, #cc3d6b 86%);
	border: 2px outset #ca6298;
}

#rock {
	background: linear-gradient(157deg, #ceaa29 6%, #dec15a 14%,#ceaa29 34%, #ceaa29 43%, #dec15a 71%, #ceaa29 86%);
	border: 2px outset #eae7a4;
}

#steel {
	background: linear-gradient(157deg, #a5a19a 6%, #c5c5c5 14%,#a5a19a 34%, #a5a19a 43%, #c5c5c5 71%, #a5a19a 86%);
	border: 2px outset #c1c1c1;
}

#water {
	background: linear-gradient(157deg, #64a4ca 6%, #79b5d8 14%,#64a4ca 34%, #64a4ca 43%, #79b5d8 71%, #64a4ca 86%);
	border: 2px outset #becfda;
}

/*page statistics*/

main#superior-container {
	background: rgba(46, 128, 139, 0.43);
	border-radius: 1em;
	box-sizing: border-box;
	color: white;
	margin: 10em auto 5em;
	padding: 2em;
	text-shadow: 1px 1px 3px black;
	width: 85%;
}

section#stats-container {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 3fr;
	margin: 0 auto;
	padding: 2em 0;
}

#stats-container h1 {
	font-size: 1.2em;
	justify-self: left;
	padding: 0 1em 0 3em;
}

#stats-introduction {
	font-size: 1.4em;
	line-height: 1.3em;
	margin-left: 1em;
}

.maxContDiv {
	background: rgba(133, 133, 133, 0.39);
	border: 3px solid rgb(88, 76, 76);
	border-radius: 2em;
	box-sizing: border-box;
	height: 2em;
	justify-self: left;
	width: 80%;
}

.percentage {
	background: linear-gradient(#a00000 0, #cd0000 40%, #f05858 55%, #d70404 67%, #a00000 100%);
	border: none !important;
	border-radius: 2em 0 0 2em;
	height: 100%;
}

.percentage p {
	align-items: center;
	display: flex;
	font-size: 18px;
	height: 100%;
	margin: auto 1em;
	padding: 0;
	text-shadow: 1px 2px 2px black;
}

/*end*/

/* Page Charts*/

#chart-title {
	color: whitesmoke;
	font-size: 2em;
	margin-top: 4em;
	text-shadow: 1px 1px 3px #000000;
}

#chart-options-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 2em;
	width: 100%;
}

.subtitle {
	color: rgb(70, 70, 70);
	font-size: 1.2em;
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.529);
}

.chart-options {
	background-color: rgba(30, 80, 200, 0.25);
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 1.2em;
	font-style: italic;
	height: 1.4em;
	margin: 0.5em;
	outline: none;
	padding-left: 0.5em;
	text-shadow: 1px 1px 3px #000000;
	width: 12.5em;
}

#chart-wrap {
	margin-top: 2em;
	position: relative;
}

#chart-div {
	background-color: rgba(46, 128, 139, 0.43);
	border-radius: 1em;
	display: flex;
	justify-content: center;
	left: 0;
	margin: 0 auto 3em;
	top: 0;
	width: 100%;
}
/*end*/

/* Page Pokémon Go Tips */
.content:nth-child(2){
	border-radius: 1em 1em 0 0;
}

.content:last-child{
	border-radius: 0 0 1em 1em;
	margin-bottom: 2em;
}

#title-tips {
	color: whitesmoke;
	display: flex;
	font-size: 2em;
	justify-content: center;
	margin-top: 4.5em;
	text-shadow: 1px 1px 3px #000000;
}

#bibliography a{
	color: white;
	text-shadow: 1px 1px 2px black;
	transition: all 0.5s;
}

#bibliography a:hover {
	color: #f2cc29;
}

.subtitles {
	color: #20257a;
	display: flex;
	font-size: 1.2em;
	justify-content: center;
	margin: auto;
	text-shadow: 1px 1px 3px #f0f0f0;
}

.content {
	align-items: center;
	background: rgba(46, 128, 139, 0.43);
	box-sizing: border-box;
	color: #272727;
	display: inline-block;
	font-size: 1.3em;
	line-height: 1.5em;
	margin: auto;
	padding: 1em 3em;
	text-align: justify;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.569);
	width: 80%;
}

.content strong {
	color: #f0c22e;
	text-shadow: 1px 1px 2px black;
}
/*end*/

@media screen and (max-width: 320px){
	#lists-div {
    padding: 0.5em 0.5em 0.5em 0;
	}

	#clear-filter-button-home {
    margin: 0.9em 0;
	}

	#card {
		height: 35em;
		width: 315px !important;
	}
	
	#pokedex-details {
    margin: 0.8em;
	}

	#pokemon-name {
		font-size: 18px;
	}

	#pokemon-number {
		font-size: 18px;
	}

	.pokemon-type p {
		margin: 1.5em 0.5em;
		padding: 0.7em;
		width: 5.5em;
	}

	#card-pokemon-img {
    background: white;
    border: 2px outset #C7C7C7;
    border-radius: 5px 5px 5px 30px;
    display: inline-block;
    margin: 0 auto;
    padding: 25px 25px 35px;
	}

	#pokedex-content {
    border: 3px inset #9c0e0e;
    height: 82.3%;
	}

	.pokedex-btn-box {
    padding: 0.5em 0.5em;
	}

	#card-second-half {
		margin: 0.8em;
	}

	.pokemon-evolutions-img {
		height: 4.5em;
		margin: 0.3em auto;
    width: 4.5em;
	}

	.pokemon-evolution-name {
		margin: 0.5em auto;
		width: 5.4em;
	}
	
	.pokedex-titles-box {
		height: 58%;
		margin: 0.2em 0.5em;
		padding-bottom: 0.3em;
	}

	.weaknesses-p-box p {
    margin: 0.3em;
		padding: 0.4em 0.6em;
	}

	.pokedex-btn-box.btn-box-2-section {
		padding: 0.5em;
    width: 283px;
	}
}

@media screen and (max-width: 800px){
	address {
    height: 11em;
    width: 100%;
	}

	#footer-container-copyright {
		height: 4em;
		text-align: center;
	}

	.address-bar {
    font-size: 2.7em;
	}

	header {
		height: 3.5em;
	}

	#container-logo {
		outline: none;
		position: absolute;
	}

	#image-logo {
		width: 9em;
	}

	#container-menu {
		width: 100%;
	}

	#hamburguer-menu {
		display: block;
	}

	#links-menu {
		display: none;
		height: 100%;
		position: relative;
		text-align: center;
		top: 3em;
		width: 100%;
	}

	.horizontal-menu a {
		background: whitesmoke;
		display: block;
	}

	#links-menu a:hover {
		background: #f5c23b;
		color: #1c33cf;
	}

	.hamburguer-menu {
		color: red;
	}

	#superior-container {
		margin-top: 5em;
	}

	#lists-div {
		display: block;
		margin: auto;
		max-width: 75%;
		padding: 0.5em 1em;
		text-align: center;
	}

	#clear-filter-button-home {
		position: absolute;
	}

	#search-div {
		margin: 2em;
	}

	#search-button-home {
		right: 2em;
	}

	#mini-card-container {
		width: 90%;
	}

	#card {
		width: 350px;
	}

	#card-first-half {
		width: auto;
	}

	#card-second-half {
		width: auto;
	} 

	/* page statistics */
	main#superior-container {
		margin: 7em auto 3em;
		padding: 0.5em 1em;
	}

	#stats-introduction {
		font-size: 1.2em;
    margin-left: 0;
	}

	section#stats-container {
		display: flex;
		flex-direction: column;
		margin: 0;        
		padding: 0.3em;
	}

	#stats-container h1 {
		font-size: 1.1em;
		margin: 1em 0 0.5em 0;
		padding: 0;
	}

	.maxContDiv {
		height: 1.8em;
		width: 85%;
	}	
	/* end */

	/* Page Charts*/
	#chart-title {
		font-size: 1.6em;
		/*margin-top: 2em;*/
	}

	#chart-options-container {
		align-items: center;
		flex-direction: column;
	}
	/* end */

	/* Page Tips */
	#title-tips {
		font-size: 1.6em;
	}	

	.content {
		font-size: 1em;
		padding: 1em 2em;
	}
	/* end */
}

@media screen and (min-width: 920px){
	.horizontal-menu a {
		font-size: 1em;
		padding: 1em;
	}

	.horizontal-menu a:hover {
		font-size: 1em;
		padding: 1em;
	}
}

@media screen and (min-width: 1280px){
	#image-logo {
		width: 15em;
	}

	#superior-container { 
		flex-direction: row;
		justify-content: space-evenly;
		margin: 7em auto 0;
		width: 95%;
	}

	#superior-container.stats-main {
		flex-direction: column;
	}

	#search-div {
		margin: 2em;
	}

	#search-home {
		width: 15em;
	}

	#search-button-home {
		position: relative;
		right: 0;
	}

	#lists-div {
		padding: 1.5em;
	}

	/* page statistics */
	section#stats-container {
		grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
	}   
	/* end */

	/* Page Charts*/
	#chart-title {
		font-size: 2.5em;
	}

	#chart-options-container {
    font-size: 1.4em;
	}
	/* end*/

	/* Page Tips */
	#title-tips {
    font-size: 2.5em;
	}	

	.content {
		font-size: 1.6em;
	}
	/* end */
}