#card {
    background: #bb1111;
    border-radius: 10px 0 0 10px;
    height: 35em;
    margin: auto;
    position: absolute;
    right: calc(50% - 171px);
    text-align: center;
    width: calc(350px - 8px);
    display: none;
}

#card-first-half {
    border-radius: 10px 0 0 10px;
    height: 32.5em;
    padding: 0 1em;
}

#pokedex-details {
    display: flex;
    margin: 1em;
}

#blue-ball {
    background: radial-gradient(ellipse at center, #99d7ff 0%, #4da0d6 50%, #5165ca 100%);
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.5);
    height: 45px;
    width: 45px;
}

#blue-ball-light {
    background: linear-gradient(to bottom, #d1e3f5 0%,#a0ccf7 100%);
    border-radius: 50%;
    height: 12px;
    margin: 3px 0 0 11px;
    width: 22px;
}

#small-balls {
    display: flex;
    margin-left: 1em;
}

#small-balls div {
    border-radius: 50%;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.5);
    height: 11px;
    margin: 2px;
    width: 11px;
}

#red-ball {
    background: radial-gradient(ellipse at center, #f18c83 0%,#ff3019 52%,#650707 100%);
}

#yellow-ball {
    background: radial-gradient(ellipse at center, #ffffff 0%,#ffdc19 52%,#927d04 100%);
}

#green-ball {
    background: radial-gradient(ellipse at center, #c8ffc0 0%,#34ff19 52%,#138504 100%);
}

#pokedex-content {
    border: 3px inset #9c0e0e;
}

#pokemon-infos-card {
    display: flex;
    justify-content: space-evenly;
}

#pokemon-name {
    font-size: 21px;
    margin: 5px;
}

#pokemon-number {
    margin: 5px;
}

#card-pokemon-img {
    background: white;
    border: 2px outset #C7C7C7;
    border-radius: 5px 5px 5px 30px;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px 35px;
}

#card-second-half {
    border: 3px inset #9c0e0e;
    display: inline-block;
    height: 32.5em;
    margin: 1em;
    display: none;
}

#card-pokemon-evolutions {
    border-bottom: groove #d90d0d 3px;
    display: flex;
    justify-content: space-around;
}

#candy-p {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

#candy-img {
    width: 50px;
}

.pokemon-infos {
    background: linear-gradient(137deg, #b8db6d 0%, #e2f2cb 5%,#b8db6d 9%, #e2f2cb 13%, #e2f2cb 16%,#b8db6d 20%);
    border-radius: 3px;
    border: 2px inset #b3bfa6;
    font-size: 21px;
    margin: 1em auto;
    padding: 5px;
    width: 85%;
}

.pokemon-img {
    background: linear-gradient(137deg, #bfd3ad 6%, #e2f2cb 8%,#bfd3ad 12%, #e2f2cb 17%, #e2f2cb 20%,#bfd3ad 23%);
    border: 2px inset #BBC7A7;
    border-radius: 5px;
    box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.77);
    display: block;
}

.pokemon-type p {
    border-radius: 7px;
    color: white;
    display: inline-block;
    margin: 1em 0.5em;
    padding: 0.8em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    width: 6.5em;
}

.pokedex-btn {
    background: inherit;
    border: 3px groove #b06868;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 3em;
    text-shadow: -1px 1px #e78181;
    width: 8em;
}

.pokemon-evolutions {
    margin: 0;
}

.pokemon-evolutions-img {                       
    margin: 0.5em;
    width: 5em;
}

.pokemon-evolution-name {
    font-size: 16px;
    margin: 0.5em auto;
    width: 4.5em;
}

.pokedex-titles-box {
    background: linear-gradient(137deg, #bfd3ad 6%, #e2f2cb 8%,#bfd3ad 12%, #e2f2cb 17%, #e2f2cb 20%,#bfd3ad 23%);
    border-radius: 5px;
    margin: 0.5em;
}

.pokedex-titles {
    background: linear-gradient(116deg, #460f0f 0, #891313 20%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border: groove #e61515 3px;
    font-size: 1.4em;
    margin: 0;
    text-shadow: #fd5555 -1px 1px;
}

.pokedex-titles-box p {
    margin: 0.4em;
    padding: 0.5em 0;
}

.pokedex-btn-box {
    border-top: groove #d90d0d 3px;
    display: flex;
    justify-content: space-around;
    padding: 1.8em 0.5em 1.4em;
}

.pokedex-btn-box.btn-box-2-section {
    bottom: 2em;
    box-sizing: border-box;
    padding: 0.5em;
    position: absolute;
    width: 304px;
}


/*ELEMENTS CONFIGURATION*/

#bug {
    background: linear-gradient(157deg, #b4d466 6%, #cde29c 14%,#b4d466 34%, #b4d466 43%, #cde29c 71%, #b4d466 86%);
    border: 2px outset #bec0ba;
}

#dark {
    background: linear-gradient(157deg, #3c3c3c 6%, #4a4a4a 14%,#3c3c3c 34%, #3c3c3c 43%, #4a4a4a 71%, #3c3c3c 86%);
    border: 2px outset #807f76;
}

#dragon {
    background: linear-gradient(157deg, #6f4dd8 6%, #8172d2 14%,#6f4dd8 34%, #6f4dd8 43%, #8172d2 71%, #6f4dd8 86%);
    border: 2px outset #9992ca;
}

#electric {
    background: linear-gradient(157deg, #f3d81a 6%, #fff085 14%,#f3d81a 34%, #f3d81a 43%, #fff085 71%, #f3d81a 86%);
    border: 2px outset #fffcc3;
}

#fairy {
    background: linear-gradient(157deg, #da7ec6 6%, #e89cd8 14%,#da7ec6 34%, #da7ec6 43%, #e89cd8 71%, #da7ec6 86%);
    border: 2px outset #eaa6e3;
}

#fighting {
    background: linear-gradient(157deg, #b50b0b 6%, #cc1414 14%,#b50b0b 34%, #b50b0b 43%, #cc1414 71%, #b50b0b 86%);
    border: 2px outset #c56262;
}

#fire {
    background: linear-gradient(157deg, #e87818 6%, #ec8f3f 14%,#e87818 34%, #e87818 43%, #ec8f3f 71%, #e87818 86%);
    border: 2px outset #deb492;
}

#flying {
    background: linear-gradient(157deg, #899bd0 6%, #97a7d8 14%,#899bd0 34%, #899bd0 43%, #97a7d8 71%, #899bd0 86%);
    border: 2px outset #becfda;
}

#ghost {
    background: linear-gradient(157deg, #514479 6%, #675e82 14%,#514479 34%, #514479 43%, #675e82 71%, #514479 86%);
    border: 2px outset #8c88a2;
}

#grass {
    background: linear-gradient(157deg, #22c02a 6%, #6cde72 14%,#22c02a 34%, #22c02a 43%, #6cde72 71%, #22c02a 86%);
    border: 2px outset #b2bdb4;
}

#ground {
    background: linear-gradient(157deg, #ecca69 6%, #f5dc98 14%,#ecca69 34%, #ecca69 43%, #f5dc98 71%, #ecca69 86%);
    border: 2px outset #fffcc3;
}

#ice {
    background: linear-gradient(157deg, #96dbe2 6%, #aee2e6 14%,#96dbe2 34%, #96dbe2 43%, #aee2e6 71%, #96dbe2 86%);
    border: 2px outset #eaeaea;
}

#normal {
    background: linear-gradient(157deg, #c3bdb3 6%, #e0e0e0 14%,#c3bdb3 34%, #c3bdb3 43%, #e0e0e0 71%, #c3bdb3 86%);
    border: 2px outset #e4dbd2;
}

#poison {
    background: linear-gradient(157deg, #9c40a7 6%, #aa63b3 14%,#9c40a7 34%, #9c40a7 43%, #aa63b3 71%, #9c40a7 86%);
    border: 2px outset #bd59b3;
}

#psychic {
    background: linear-gradient(157deg, #cc3d6b 6%, #d4507b 14%,#cc3d6b 34%, #cc3d6b 43%, #d4507b 71%, #cc3d6b 86%);
    border: 2px outset #ca6298;
}

#rock {
    background: linear-gradient(157deg, #ceaa29 6%, #dec15a 14%,#ceaa29 34%, #ceaa29 43%, #dec15a 71%, #ceaa29 86%);
    border: 2px outset #eae7a4;
}

#steel {
    background: linear-gradient(157deg, #a5a19a 6%, #c5c5c5 14%,#a5a19a 34%, #a5a19a 43%, #c5c5c5 71%, #a5a19a 86%);
    border: 2px outset #c1c1c1;
}

#water {
    background: linear-gradient(157deg, #64a4ca 6%, #79b5d8 14%,#64a4ca 34%, #64a4ca 43%, #79b5d8 71%, #64a4ca 86%);
    border: 2px outset #becfda;
}