html {
    height: 100%;
}

body { 
    background: url("./img/background_image.png") bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgba(30, 80, 200, 0.25);
    outline: 1px solid slategrey;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    font-size: 20px;
    height: 5em;
    position: absolute;
    width: 100%;
}

option {
    color: #5c5c5c;
}

#container-logo {
    outline: none;
}

#image-logo {
    cursor: pointer;
    padding: 0.5em 1em;
    transition: all 0.5s;
    width: 15em;
}

#container-menu {
    /* display: none; */
    /* position: inherit; */
    /* top: 2.7em; */
    /*display: block;*/
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

#hamburguer-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 5px;
}

/*#container-menu {
    display: block;
}*/

/*.horizontal-menu { 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}*/

#links-menu {
    position: relative;
    top: 2em;
}

.horizontal-menu a {
    align-self: center;
    color: grey;
    text-decoration: none;
    vertical-align: center;
    padding: 1em;
    transition: all 0.5s;
}

.horizontal-menu a:hover {
    background: inherit;
    color: red;
    font-size: 1em;
    padding: 1em;
}

#superior-container {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
}

#search-home {
    background: transparent;
    border: 0px solid black;
    border-radius: 10px;
    color: white;
    /*color:rgb(30, 60, 90);*/
    display: flex;
    font-size: 1.2em;
    font-style: italic;
    height: 1.5em;
    outline: none;
    padding-left: 1.1em;
    padding-top: 0.2em;
    text-shadow: 1px 1px 3px #000000;
    width: 13em;
}

#search-home::placeholder {
    color: #565656;
    text-shadow: none;
}

#search-div {
    background: rgba(30, 80, 200, 0.25);
    border-radius: 15px;
    display: flex;
    height: 2.2em;
    margin: 2em 12em;
}

#search-form {
    background: transparent;
    border-radius: 15px;
    display: flex;
    outline: none;
}

#search-button-home {
    background-image: url("./img/search_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    height: 32px;
    margin: auto;
    outline: none;
    position: absolute;
    right: 9em;
    width: 5em;
    /*position: relative;
    right: 0;
    width: 5em;*/
}

#lists-div {
    align-items: center;
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    padding: 1.5em 5em;
    padding: 1.5em;
}

/*#lists-div {
    align-items: center;
    display: flex;
    /*display: inline-block;
    padding: 1.5em 5em;
}*/

.lists-home {
    background-color: rgba(30, 80, 200, 0.25);
    border: none;
    border-radius: 20px;
    color: white;
    /*color:rgb(30, 60, 90);*/
    font-size: 1.2em;
    font-style: italic;
    height: 1.4em;
    margin: 0.5em;
    outline: none;
    padding-left: 0.5em;
    text-shadow: 1px 1px 3px #000000;
    width: 11em;
}

#clear-filter-button-home {
    background-image: url("/img/clear_filter.png");
    /*background-size: contain;*/
    background-size: 21px   ;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(30, 80, 200, 0.25);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 1.8em;
    margin: 1em;
    outline: none;
    position: relative;
    width: 3em;
}

#inferior-container {  
    /*float: left;*/
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 1em;
    width: 100%;
}  

#mini-card-container {
    border-radius: 20px;
    float: left;
    justify-content: center;
    outline: none;
    text-align: center;
    width: 75%;
}

.mini-card-div {
    background-color: rgba(53, 35, 67, 0.5);
    border: 2px solid rgba(33, 6, 167, 0.55);
    border-radius: 5px;
    display: inline-block;
	height: 140px;
    margin: 7px;
    padding: 0.5em;
    position: relative;
	text-align: center;
    width: 100px;
}

.mini-card-div-highlight {
	background-color: rgba(107, 47, 167, 0.5);
	border: 2px solid rgb(32, 6, 167, 0.767);
    border-radius: 5px;
    box-shadow: 1px 1px 40px cyan, 0 0 60px white, 0 0 40px darkblue;
    cursor: pointer;
    display: inline-block;
	height: 140px;
    margin: 7px;
    padding: 0.5em;
    position: relative;
	text-align: center;
    width: 100px;
}

.mini-card-image {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;
	border: 0px solid black;
    border-radius: 4px;
    height: 70%;
	margin-left: auto;
	margin-right: auto;
    width: 95%;
}

.mini-card-text {
	background-color: transparent;
    border: 0px solid black;
    color: whitesmoke;
    font-size: 1em;
    margin-top: 1em;
    outline: none;
	resize: none;
	text-align: center;
    width: 95%;
}

.mini-card-number {
    background-color: rgba(124, 73, 176, 0.65);
    color: whitesmoke;
    font-size: 1em;
    position: absolute;
    right: 0.4em;
    top: 0.4em;
}

footer {
    background-color: whitesmoke;
    margin-top: auto;
    padding: 1em;
    /*bottom: 0;
    /*display: flex;
    float: left;
    height: 4em;
    justify-content: center;
    margin-top: auto;
    /*margin-top: 10em;*/
    /*position: fixed;
    width: 100%;
    z-index: 300;*/
}
    
#cp-text {
    color: grey;
    font-size: 15px;
    text-align: center;

}

#card {
    background: #b10d0d;
    border: 3px solid black;
    border-radius: 10px;
    bottom: 0;
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    /*display: flex;*/
    display: none;
    height: 40em;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    /*right: calc(50% - 171px);*/
    text-align: center;
    top: 0;
    width: 720px;   
    /*width: 320px;*/
    z-index: 300;
}

#card-first-half {
    border-radius: 10px 0 0 10px;
    height: 32.5em;
    padding: 0 1em;
    width: 350px;
}

#pokedex-details {
    display: flex;
    margin: 1em;
}

#blue-ball {
    background: radial-gradient(ellipse at center, #99d7ff 0%, #4da0d6 50%, #5165ca 100%);
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.5);
    height: 45px;
    width: 45px;
}

#blue-ball-light {
    background: linear-gradient(to bottom, #d1e3f5 0%,#a0ccf7 100%);
    border-radius: 50%;
    height: 12px;
    margin: 3px 0 0 11px;
    width: 22px;
}

#small-balls {
    display: flex;
    margin-left: 1em;
}

#small-balls div {
    border-radius: 50%;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.5);
    height: 11px;
    margin: 2px;
    width: 11px;
}

#red-ball {
    background: radial-gradient(ellipse at center, #f18c83 0%,#ff3019 52%,#650707 100%);
}

#yellow-ball {
    background: radial-gradient(ellipse at center, #ffffff 0%,#ffdc19 52%,#927d04 100%);
}

#green-ball {
    background: radial-gradient(ellipse at center, #c8ffc0 0%,#34ff19 52%,#138504 100%);
}

#pokedex-content {
    border: 3px inset #9c0e0e;
}

#pokemon-infos-card {
    display: flex;
    justify-content: space-evenly;
}

#pokemon-name {
    font-size: 21px;
    margin: 5px;
}

#pokemon-number {
    margin: 5px;
}

#card-pokemon-img {
    background: white;
    border: 2px outset #C7C7C7;
    border-radius: 5px 5px 5px 30px;
    display: inline-block;
    margin: 0 auto;
    padding: 25px 25px 40px;
    /*padding: 20px 20px 35px;*/
    /*width: 8em;*/
}

#pokedex-middle-detail {
    background: linear-gradient(90deg, #770707 0, #c70707 40%, #ff6f6f 60%, #c70707 90%);
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
}

.hinge {
    background: linear-gradient(90deg, #3d0808 0, #a00707 40%, #ff6f6f 60%, #a00707 90%);
    border-bottom: 2px ridge #981b1b;
    border-left-color: #5f1010;
    border-top: 2px ridge #981b1b;
    display: block;
    height: 40px;
}

#card-second-half {
    border: 3px inset #9c0e0e;
    display: inline-block;
    display: none;
    height: 37.15em;
    /*height: 32.5em;*/
    margin: 1em;
    width: 350px;
}

#card-pokemon-evolutions {
    border-bottom: groove #d90d0d 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card-pokemon-evolutions h1{
    /*height: 5em;*/
    width: 100%;
}

#candy-p {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

#candy-img {
    width: 50px;
}

.pokemon-infos {
    background: linear-gradient(137deg, #b8db6d 0%, #e2f2cb 5%,#b8db6d 9%, #e2f2cb 13%, #e2f2cb 16%,#b8db6d 20%);
    border-radius: 3px;
    border: 2px inset #b3bfa6;
    font-size: 21px;
    margin: 1.5em auto 1.7em;
    /*margin: 1em auto;*/
    padding: 5px;
    width: 85%;
}

.pokemon-img {
    background: linear-gradient(137deg, #bfd3ad 6%, #e2f2cb 8%,#bfd3ad 12%, #e2f2cb 17%, #e2f2cb 20%,#bfd3ad 23%);
    border: 2px inset #BBC7A7;
    border-radius: 5px;
    box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.77);
    display: block;
}

.pokemon-type p {
    border-radius: 7px;
    color: white;
    display: inline-block;
    margin: 2.5em 0.5em;
    /*margin: 1em 0.5em;*/
    padding: 0.8em;
    /*padding: 0.7em;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    width: 6.5em;
    /*width: 6em;*/
}

.pokedex-btn {
    background: inherit;
    border: 4px groove #b06868;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 3em;
    text-shadow: -1px 1px #e78181;
    width: 8em;
}

.pokedex-btn:hover {
    background: #2ecd1b;
    border: 4px inset #52c944;
}

.close-btn:hover {
    background: #ff0000;
    border: 5px inset #b80b0b;
}

.pokemon-evolutions {
    margin: 0;
    /*margin: 0 0.5em;*/
}

.pokemon-evolutions-img {     
    /*margin: 0.5em 0;        
    width: 4.5em;    */      
    height: 5em;
    margin: 0.5em;
    width: 5em;
}

.pokemon-evolution-name {
    font-size: 16px;
    margin: 0.5em auto;
    /*width: 4em;*/
    width: 4.5em;
}

.pokedex-titles-box {
    background: linear-gradient(137deg, #bfd3ad 6%, #e2f2cb 8%,#bfd3ad 12%, #e2f2cb 17%, #e2f2cb 20%,#bfd3ad 23%);
    border-radius: 5px;
    margin: 0.5em;
}

.pokedex-titles {
    background: linear-gradient(116deg, #460f0f 0, #891313 20%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border: groove #e61515 3px;
    font-size: 1.4em;
    margin: 0;
    text-shadow: #fd5555 -1px 1px;
}

.pokedex-titles-box p {
    margin: 0.4em;
    padding: 0.5em 0;
}

.pokedex-btn-box {
    border-top: groove #d90d0d 3px;
    display: flex;
    justify-content: space-around;
    padding: 1.2em 0.5em;
    /*padding: 2em 0.5em;*/
    /*padding: 1.48em 0.5em 1.48em;*/
    /*padding: 1.8em 0.5em 1.4em;*/
}

.pokedex-btn-box.btn-box-2-section {
    /*bottom: 2em;*/
    box-sizing: border-box;
    padding: 1em 0.5em;
    /*position: absolute;*/
    width: 312px;
    /*width: 304px;*/
}


/*ELEMENTS CONFIGURATION*/

#bug {
    background: linear-gradient(157deg, #b4d466 6%, #cde29c 14%,#b4d466 34%, #b4d466 43%, #cde29c 71%, #b4d466 86%);
    border: 2px outset #bec0ba;
}

#dark {
    background: linear-gradient(157deg, #3c3c3c 6%, #4a4a4a 14%,#3c3c3c 34%, #3c3c3c 43%, #4a4a4a 71%, #3c3c3c 86%);
    border: 2px outset #807f76;
}

#dragon {
    background: linear-gradient(157deg, #6f4dd8 6%, #8172d2 14%,#6f4dd8 34%, #6f4dd8 43%, #8172d2 71%, #6f4dd8 86%);
    border: 2px outset #9992ca;
}

#electric {
    background: linear-gradient(157deg, #f3d81a 6%, #fff085 14%,#f3d81a 34%, #f3d81a 43%, #fff085 71%, #f3d81a 86%);
    border: 2px outset #fffcc3;
}

#fairy {
    background: linear-gradient(157deg, #da7ec6 6%, #e89cd8 14%,#da7ec6 34%, #da7ec6 43%, #e89cd8 71%, #da7ec6 86%);
    border: 2px outset #eaa6e3;
}

#fighting {
    background: linear-gradient(157deg, #b50b0b 6%, #cc1414 14%,#b50b0b 34%, #b50b0b 43%, #cc1414 71%, #b50b0b 86%);
    border: 2px outset #c56262;
}

#fire {
    background: linear-gradient(157deg, #e87818 6%, #ec8f3f 14%,#e87818 34%, #e87818 43%, #ec8f3f 71%, #e87818 86%);
    border: 2px outset #deb492;
}

#flying {
    background: linear-gradient(157deg, #899bd0 6%, #97a7d8 14%,#899bd0 34%, #899bd0 43%, #97a7d8 71%, #899bd0 86%);
    border: 2px outset #becfda;
}

#ghost {
    background: linear-gradient(157deg, #514479 6%, #675e82 14%,#514479 34%, #514479 43%, #675e82 71%, #514479 86%);
    border: 2px outset #8c88a2;
}

#grass {
    background: linear-gradient(157deg, #22c02a 6%, #6cde72 14%,#22c02a 34%, #22c02a 43%, #6cde72 71%, #22c02a 86%);
    border: 2px outset #b2bdb4;
}

#ground {
    background: linear-gradient(157deg, #ecca69 6%, #f5dc98 14%,#ecca69 34%, #ecca69 43%, #f5dc98 71%, #ecca69 86%);
    border: 2px outset #fffcc3;
}

#ice {
    background: linear-gradient(157deg, #96dbe2 6%, #aee2e6 14%,#96dbe2 34%, #96dbe2 43%, #aee2e6 71%, #96dbe2 86%);
    border: 2px outset #eaeaea;
}

#normal {
    background: linear-gradient(157deg, #c3bdb3 6%, #e0e0e0 14%,#c3bdb3 34%, #c3bdb3 43%, #e0e0e0 71%, #c3bdb3 86%);
    border: 2px outset #e4dbd2;
}

#poison {
    background: linear-gradient(157deg, #9c40a7 6%, #aa63b3 14%,#9c40a7 34%, #9c40a7 43%, #aa63b3 71%, #9c40a7 86%);
    border: 2px outset #bd59b3;
}

#psychic {
    background: linear-gradient(157deg, #cc3d6b 6%, #d4507b 14%,#cc3d6b 34%, #cc3d6b 43%, #d4507b 71%, #cc3d6b 86%);
    border: 2px outset #ca6298;
}

#rock {
    background: linear-gradient(157deg, #ceaa29 6%, #dec15a 14%,#ceaa29 34%, #ceaa29 43%, #dec15a 71%, #ceaa29 86%);
    border: 2px outset #eae7a4;
}

#steel {
    background: linear-gradient(157deg, #a5a19a 6%, #c5c5c5 14%,#a5a19a 34%, #a5a19a 43%, #c5c5c5 71%, #a5a19a 86%);
    border: 2px outset #c1c1c1;
}

#water {
    background: linear-gradient(157deg, #64a4ca 6%, #79b5d8 14%,#64a4ca 34%, #64a4ca 43%, #79b5d8 71%, #64a4ca 86%);
    border: 2px outset #becfda;
}


@media screen and (max-width: 800px){
    /*body {
        width: 100%;
    }*/

    header {
        height: 3.5em;
    }

    #container-logo {
        outline: none;
        position: absolute;
    }

    #image-logo {
        width: 9em;
    }

  

    /*#container-menu {
        display: none;
        position: relative;
        top: 2.7em;
        width: 100%;
        z-index: 1;
    }*/

    /*.horizontal-menu {
        display: block;
        height: 100%;
        text-align: center;
    }*/

    #container-menu {
        /* display: none; */
        /* position: inherit; */
        /* top: 2.7em; */
        /*display: block;*/
        /*font-family: Arial, Helvetica, sans-serif;
        z-index: 1;*/
        width: 100%;

    }

    #hamburguer-menu {
        display: block;
        /* display: none; */
        /*position: absolute;
        top: 0;
        right: 0;*/
    }

    #links-menu {
        display: none;
        height: 100%;
        text-align: center;
        top: 3em;
    }

    .horizontal-menu a {
        background: whitesmoke;
        display: block;
    }

    #links-menu a:hover {
        background: #f5c23b;
        color: #192576;
    }

    .hamburguer-menu {
        color: red;
        /*visibility: hidden;*/
    }

    #superior-container {
        margin-top: 5em;
    }

    #lists-div {
        display: block;
        margin: auto;
        max-width: 75%;
        padding: 0.5em 1em;
        text-align: center;
    }

    #clear-filter-button-home {
        position: absolute;
    }

    #search-div {
        margin: 2em;
    }

    #search-button-home {
        right: 1em;
    }

    #mini-card-container {
        width: 90%;
    }

    /*.mini-card-div {
        height: 155px;
        width: 115px;
    }*/





    #card {
        width: 350px;
    }

    /*#pokedex-middle-detail {
        border-right: 2px solid black;
        border-left: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
    }*/

    #card-first-half {
        width: auto;
    }

    #card-second-half {
        width: auto;
    }

}

@media screen and (min-width: 1280px){
    #superior-container { 
        flex-direction: row;
        justify-content: space-evenly;
        /*justify-content: space-between;*/
        /*justify-content: space-around;*/
        margin: 7em auto 0;
        width: 95%;
    }

    #search-div {
        margin: 2em;
    }

    #search-home {
        width: 15em;
    }

    #search-button-home {
        position: relative;
        right: 0;
    }

    #lists-div {
        padding: 1.5em;
    }
}